.big-button {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: #fff;
    font-weight: bold;
    font-size: $m-size;
    margin-bottom: $l-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.big-button-blue {
    @extend .big-button;
    width: 48%;
    
    background: #025da8;
    border-bottom: .6rem solid darken(#025da8, 10%);
}

.big-button-green {
    @extend .big-button;
    width: 48%;
    background: #00c896;
    border-bottom: .6rem solid darken(#00c896, 10%);
}

.big-button:disabled {
    opacity: .5;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: #fff;
    font-weight: 500;
    padding: $ss-size;
}

.button2 {
    @extend .button;
    margin-right: .8rem;
}

.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

@media (max-width: $desktop-breakpoint) {

    .big-button {
        margin-bottom: $m-size;
    }
}